        * {
            box-sizing:border-box;
        }

       body {
           margin:0;
           font-family: "Segoe UI",Arial,sans-serif;
		   background-color: #f1f1f1;
       }

        .material-icons {
            line-height:50px;
        }

        main {
            padding-top:40px;
            line-height:1.5rem;
			background-color: #f1f1f1;
			font-family: "Segoe UI",Arial,sans-serif;
        }

		p { font-family: "Segoe UI",Arial,sans-serif;
		    text-align: justify;
		}
		li {
			word-wrap: break-word;
			word-break: break-all;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}

		.odo-card1 { /*w3-card-2 w3-margin-bottom w3-white"*/
			box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			margin-bottom:16px!important;
			color:#000!important;background-color:#ffffff!important;
			padding-bottom: 2px!important;
		}	

		.odo-card2 { /*w3-card-2 w3-margin-bottom w3-khaki"*/
			box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			margin-bottom:16px!important;
			color:#fff!important;background-color:#e6ba37!important;
			padding-bottom: 2px!important;
		}			
		.odo-text-main{ /*w3-container w3-white" style="max-height:350px;overflow:auto;"*/
			padding:0.01em 16px;
			color:#000!important;background-color:#fff!important;
			/*max-height:350px;overflow:auto;*/
		}
		.odo-text{ /*w3-container w3-white" style="max-height:350px;overflow:auto;"*/
			padding:0.01em 16px;
			color:#000!important;background-color:#fff!important;
			max-height:350px;overflow:auto;
		}

		.odo-note{ /*w3-container w3-margin-bottom w3-yellow  w3-round w3-border-left" style="margin:10%"*/
			padding:0.01em 16px;
			margin-bottom:16px!important;
			color:#000!important;background-color:#ffeb3b!important;
			border-radius:4px;
			border-left:1px solid #ccc!important;
			margin:16px 40px 16px 40px!important;
			max-height:350px;overflow:auto;
		}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}		
/*----------- Back Scroll Button --------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #881438; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
	
/*----------- Modal Image --------*/
.myImg {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
	 width: 100%;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	border-radius: 15px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
 	
/*-------------- LightBox -------------*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
}

.column4 {
  float: left;
  width: 25%;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.texttext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 20px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img {
    width: 100%;
    height: auto;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}			
	
div.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
